nav {
    position: relative;
    display: block;
    height: 70px;
    border-bottom: 1px solid rgba(1, 1, 102, 0.36);
    background-color: rgb(255, 204, 1);
}

nav div.logo {
    padding-top: 10px;
    height: 60px;
    float: left;
}

nav div.app-name {
    padding-top: 10px;
    line-height: 55px;
    font-size: 22px;
    font-weight: 200;
    color: rgb(82, 82, 82);
}

nav .logo img {
	height: 100%;
}

header {
	border-bottom: 1px solid #E6EAEE;
}

header .selected-date-range-info {
	font-size: 16px;
	vertical-align: middle;
}

.table > thead > tr > th {
    border-bottom: 1px solid #BFC3C9;
    /*border-right: 1px solid #DFE3E9;*/
    font-size: 12px;
    font-weight: 200;
    /*text-align: center;*/
    text-transform: uppercase;
    color: #7F8FA4;
}

.table > thead > tr > th:last-child {
    border-right: none;
}

.table > tbody > tr > td:not(.hidden-row) {
    border-top: 1px solid #DFE3E9;
    /*border-right: 1px solid #DFE3E9;*/
    white-space: nowrap;
}

.table > tbody > tr > td:last-child {
	border-right: none;
}

.table-responsive-wrapper {
	overflow-x: auto;
}

main, section, header {
	padding: 25px 0;
}

.date-range-width-nav {
	margin-right: 25px;
}

.date-range-width-nav span.glyphicon {
	font-size: 11px;
}

.key-number {
	padding: 10px 0;
	margin-bottom: 20px;
	text-align: center;
}

.key-number .title {
	text-transform: uppercase;
	font-size: 14px;
	color: #7F8FA4;
}

.key-number .value {
	font-size: 30px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}


footer {
	text-align: center;
	padding: 25px;

	color: white;
	background: #36454f;
	box-shadow: inset 0 -50px 80px rgb(37, 47, 54);
	border-top: 1px solid rgb(37, 47, 54);
}

footer .copyright img {
	height: 20px;
	vertical-align: middle;
}
footer .legal {
    float: right;
}

footer .timodenk {
	float: left;
}

footer a, footer a:focus {
	cursor: pointer;
	color: #AAA;
	transition: color ease-in .2s;
	text-decoration: none;
}

footer a:hover, footer a:active {
	color: #FFF;
	text-decoration: none;
}

td.hidden-row {
	padding: 0 !important;
}

td.hidden-row .hidden-content {
	padding: 8px;
	font-size: 12px;
}

#transactions-table tr:nth-child(even) td {
    border: none;
}

#transactions-table tr:nth-child(odd) td {
    cursor: pointer;
}

#transactions-table tr:nth-child(even) span.details {
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    color: #7F8FA4;
    padding-right: 8px;
}

.tnum {
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
}